<!doctype html>
<html lang="de">

<head>
    <%- include("header", {title: "mdDisp - Login"}) %>
    <script src="/explorer.js"></script>
</head>

<body>

    <div class="container my-4">

        <%- include("flash") %>

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <h4 class="card-title col-md-4">Preview</h4>
                    <h4 class="card-title col-md-8"><%= location %></h4>
                </div>

                <hr>

                <div id="md" style="width: 600pt;">
                    <%- content %>
                </div>

            </div>
        </div>

    </div>
</body>

</html>