<!doctype html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>#title</title>
    <script>#img_box_js</script>
    <script>#mathjax_config</script>

    <style>
        #md {
            margin: 0 auto;
        }
    </style>

    #style_sheets

</head>

<body>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js"></script>
    <div style="display: none;">
        #mathjax_macros
    </div>
    <div id="md" #pagewidth_tag>
        <h5>Inhalt</h5>
        <div id="md-content">
            #table_of_content
        </div>
        <hr>
        #md-body
    </div>
</body>

</html>